.search-box {
  display: flex;
  background-color: #EBEEF0;
  border-radius: 9999px;
  height: 2em;
}
.search-box input[type=text] {
  background-color: transparent;
  border: none;
  width: 100%;
}
.search-box input[type=text]:focus {
  background-color: white;
  border: 1px solid deepskyblue;
  border-radius: 9999px;
  outline: none;
}

.tweet-button {
  display: block;
  background-color: #1da1f2;
  border-radius: 9999px;
  color: aliceblue;
  width: 8em;
  height: 2em;
  margin: 20px;
}

.tweet-button:hover {
  background-color: lightskyblue;
}

.back-home-button svg:hover {
  fill: lightskyblue;
  cursor: pointer;
}

.profile-pic {
  display: inline;
}
.profile-pic img {
  border-radius: 30px;
  margin: 10px;
  height: 50px;
  width: 50px;
}

.page-container {
  display: flex;
  width: 80%;
  margin: auto;
}
.page-container .nav-container {
  flex-grow: 1;
}
.page-container .nav-container .nav-logo {
  width: 10%;
}
.page-container .nav-container .nav-logo svg {
  border-radius: 99999px;
}
.page-container .nav-container .nav-logo :hover {
  background-color: lightskyblue;
}
.page-container .nav-container .nav-item {
  display: flex;
  border: 1px solid blue;
  border-radius: 15px;
  height: 2em;
  margin: 5px;
  align-items: center;
}
.page-container .nav-container .nav-item svg {
  height: 50%;
  margin: 0.5em;
  display: inline;
}
.page-container .nav-container .nav-item:hover {
  background-color: lightskyblue;
  cursor: pointer;
}
.page-container .newsfeed-container {
  margin: 0px 30px;
  flex-grow: 3;
  flex-direction: column;
}
.page-container .newsfeed-container .newsfeed-post-editor textarea:focus {
  outline-color: deepskyblue;
}
.page-container .newsfeed-container .newsfeed-post {
  border: 1px solid blue;
  border-radius: 15px;
  margin: 5px;
}
.page-container .newsfeed-container .newsfeed-post b {
  margin: 10px;
}
.page-container .newsfeed-container .newsfeed-post p {
  margin: 5px;
}
.page-container .newsfeed-container .newsfeed-post .post-actions {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 0px 5px 0px;
}
.page-container .newsfeed-container .newsfeed-post .post-actions .comment-button:hover {
  fill: lightskyblue;
}
.page-container .newsfeed-container .newsfeed-post .post-actions .retweet-button:hover {
  fill: darkseagreen;
}
.page-container .newsfeed-container .newsfeed-post .post-actions .like-button:hover {
  fill: red;
}
.page-container .newsfeed-container .newsfeed-post .post-actions .share-button:hover {
  fill: lightskyblue;
}
.page-container .profile-container {
  margin: 0px 30px;
  flex-grow: 3;
  display: none;
  overflow: hidden;
}
.page-container .profile-container .profile-header {
  display: flex;
  width: 100%;
}
.page-container .profile-container .profile-header .back-home-button {
  width: 10%;
}
.page-container .profile-container .profile-header .back-home-button svg {
  height: 1em;
  width: 1em;
}
.page-container .profile-container .profile-header .profile-header-data {
  width: 90%;
}
.page-container .profile-container .profile-header .profile-header-data h3, .page-container .profile-container .profile-header .profile-header-data h5 {
  margin: 0px 0px 3px 0px;
}
.page-container .profile-container .profile-header .profile-header-data h5 {
  color: #657986;
}
.page-container .profile-container .cover-photo {
  max-height: 200px;
}
.page-container .profile-container .cover-photo img {
  width: 100%;
  max-height: 130%;
}
.page-container .profile-container .profile-picture {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.page-container .profile-container .profile-picture img {
  border: 3px solid #EEEEEE;
  border-radius: 55px;
  height: 100px;
  width: 100px;
}
.page-container .profile-container .profile-picture .edit-profile-button {
  margin-top: auto;
  border: 3px solid blue;
}
.page-container .trends-container {
  flex-grow: 2;
  min-width: 200px;
}
.page-container .trends-container .trends {
  background-color: #EBEEF0;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
}
.page-container .trends-container .trends .trends-title {
  display: flex;
  justify-content: space-around;
}
.page-container .trends-container .trends .trends-title svg {
  height: 1em;
  width: 1em;
}
.page-container .trends-container .trends .trend-item {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
